<div class="container">
    <h2>Tambah Pelanggan</h2>
    <form id="addUserForm">
        <div class="form-group">
            <label for="id">ID Pelanggan :</label>
            <input type="text" id="id" name="id" required>
        </div>
        <div class="form-group">
            <label for="alamat">Alamat :</label>
            <input type="text" id="alamat" name="alamat" required>
        </div>
        <div class="form-group">
            <label for="kota">Kota :</label>
            <input type="text" id="kota" name="kota" required>
        </div>
        <div class="form-group">
            <label for="provinsi">Provinsi :</label>
            <input type="text" id="provinsi" name="provinsi" required>
        </div>
        <input type="submit" value="Tambah Pelanggan" id="add">
        <input type="submit" value="kembali" id="back">

    </form>
</div>
<script type ='module' src=<%- js%>></script>