    <div class="content">
        <div class="wrapper">
            <div class="title-text">
              <div class="title">Selamat Datang</div>
              <div class="top">Monitoring Pembayaran Listrik</div>
            </div>
            <div class="form-container">
              <div class="slide-controls">
                <input type="radio" name="slide" id="admin" checked />
                <input type="radio" name="slide" id="user" />
                <label for="admin" class="slide admin">Admin</label>
<<<<<<< HEAD
                <label for="user" class="slide user">Pelanggan</label>
=======
                <label for="user" class="slide user">Customer</label>
>>>>>>> 7c5b3fc3d1471c6f268eb2a8037284c18cc83ea9
                <div class="slider-tab"></div>
              </div>
              <div class="form-inner">
                <form action="#" class="admin">
                  <pre></pre>
                  <div class="field">
                    <input type="text" placeholder="Nama" id="nama" required />
                  </div>
                  <div class="field">
                    <input type="password" placeholder="Password" id="password" required />
                  </div>
      
                  <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Masuk" id="sign_admin" />
                  </div>
                </form>
                <form action="#" class="user">
                  <div class="field">
                    <input type="text" placeholder="ID Pelanggan" id="meteran" required />
                  </div>
                  <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Mencari" id="sign_user" />
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
    <script type="module" src=<%- js%>> </script>
    <script src="../script/script.js"></script>
